.product-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}
.product-image:hover{
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}
.table tbody tr{
    transition: .3s;

}
.table tbody tr:hover{
    transform: scale(1.01);
    box-shadow: 0 3px 12px rgba(0,0,0,.08);
}